* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: rgb(235, 218, 218);
}

.box {
  width: 500px;
  margin: 0 auto;
}

.list {
  padding: 8px;
  background-color: rgb(224, 195, 195);
}

h2,
h3 {
  padding: 8px;
  border: 4px dotted rgb(224, 195, 195);
}

p {
  padding: 12px;
  background-color: rgb(224, 195, 195);
}

ul,
ol {
  padding-left: 30px;
  margin: 4px;
}

li {
  padding: 4px;
}

img {
  width: 500px;
  height: auto;
  border: 25px solid transparent;
}